* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: currentColor;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.3;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Patua One", cursive;
  font-family: "Roboto Slab", serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.title-one {
  color: #EFE2A5;
  text-align: center;
  background-color: #1F0044;
  padding: 16px 0;
  border-radius: 10px;
  letter-spacing: 0.2em;
  font-size: 40px;
  text-transform: uppercase;
}

.questions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #080013;
  color: rgb(17, 104, 10);
  border-radius: 10px;
}

.question {
  position: relative;
  width: 80%;
  height: 60px;
  font-size: 40px;
  border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #7c7b7b;
          box-shadow: 0 0 10px #7c7b7b;
}

.fase,
.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.fase {
  background-color: rgb(199, 189, 88);
  padding: 20px;
}

.description {
  background-color: #964ede;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: #fff;
  text-align: center;
}

.error-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(248, 24, 8);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 6px;
  opacity: 0.1;
}
.error-btn::before, .error-btn::after {
  content: "";
  position: absolute;
  width: 86px;
  height: 6px;
  background-color: rgb(0, 0, 0);
}
.error-btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 24px;
  left: -17px;
}
.error-btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 24px;
  left: -19px;
}
.error-btn--one {
  top: 140px;
  left: 0;
}
.error-btn--two {
  top: 242px;
  left: 0;
}
.error-btn--three {
  top: 354px;
  left: 0;
}
.error-btn--four {
  top: 140px;
  right: 0;
}
.error-btn--five {
  top: 242px;
  right: 0;
}
.error-btn--six {
  top: 354px;
  right: 0;
}

.question-btn {
  display: block;
  position: absolute;
  top: 4.4%;
  right: 10.4%;
  border: 1px solid rgba(20, 65, 243, 0.432);
  background-color: #1f004a;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.arr {
  position: absolute;
  width: 20px;
  height: 2px;
  border-color: #000;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.arr::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  border-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.balls__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.ball {
  width: 100px;
  height: 60px;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 38px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  background-color: #1f004a;
}

.answers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.number {
  color: #fff;
  margin-right: 20px;
}

.card {
  position: relative;
  width: 80%;
  height: 80px;
  font-size: 40px;
  margin-bottom: 28px;
  border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #555297;
          box-shadow: 0 0 10px #555297;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background-color: #CC84AB;
  text-align: center;
  font-weight: 800;
  padding: 20px;
}

.back {
  background-color: #050505;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  padding-left: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visual {
  opacity: 1;
}

.is-flipped {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.file {
  width: 84%;
  padding: 0;
}

.num {
  width: 80px;
}

.info {
  position: absolute;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  opacity: 0.2;
}

.button-oll {
  width: 40px;
}